* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
}

@font-face {
  src: url("fonts/Roboto-Regular.ttf");
  font-family: Roboto;
}

.wrapper {
  width: 58%;
  margin: auto;
}

.bg-van {
  background-color: #C8A35F;
}

.bg-grey {
  background-color: #2F343A;
}

.rec {
  width: 90px;
  height: 6px;
  background-color: #C8A35F;
}

.main-title {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 455px;
}

.col-bl {
  color: #2F343A;
}

.header {
  width: 100%;
}

.header .header1__info {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  padding: 0.75% 0;
}

.header .header1__info-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.header .header1__info-language .lng-item {
  margin-right: 10px;
  opacity: 0.5;
}

.header .header1__info-language .lng-item:hover {
  opacity: 1;
}

.header .header2__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 0;
}

.header .header2__menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header2__menu-left .line {
  border: 1px solid #F2F2F2;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 46px;
}

.header .header2__menu-left .office {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.header .header2__menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header2__menu-right .link {
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
}

.header .header2__menu-right .link:hover {
  color: #C8A35F;
}

.main {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75))), url(img/bgTrack.png);
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75)), url(img/bgTrack.png);
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main__info {
  border: 1px solid #C8A35F;
  max-width: 920px;
  padding: 2.5%;
}

.main__info-title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
}

.main__info-par {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-top: 45px;
}

.main__icon {
  position: absolute;
  bottom: 5%;
}

.services {
  background-color: #393F47;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.services__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.services__content-left .service-info {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  max-width: 385px;
}

.services__content-left .btn-vn {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #C8A35F;
  padding: 15px 48px;
  border: none;
  max-width: 255px;
  margin-top: 45px;
}

.services__content-background {
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  left: calc(50% - 15%);
  background-color: #2F343A;
  z-index: 0;
}

.services__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.services__content-right .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.services__content-right .arrows .btn-arr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C8A35F;
  border: none;
  background-color: #393F47;
}

.services__content-right .arrows .next:after {
  content: '';
  display: block;
  margin-left: 30px;
  width: 67px;
  height: 24px;
  background-image: url(img/Arrow-right.svg);
  background-size: cover;
}

.services__content-right .arrows .past:before {
  content: '';
  display: block;
  margin-right: 30px;
  width: 67px;
  height: 24px;
  background-image: url(img/Arrow-left.svg);
  background-size: cover;
}

.servGrid {
  background-color: #2F343A;
}

.servGrid__content {
  padding: 120px 0;
}

.servGrid__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servGrid__content-items .item {
  width: 25%;
  background-color: #393F47;
  margin-bottom: 1px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.servGrid__content-items .item__name {
  margin: 42px 42px 35px 42px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
}

.servGrid__content-items .item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  margin: 55px auto 0 auto;
  border-radius: 50%;
}

.servGrid__content-items .item__img svg > path {
  fill: #fff;
}

.servGrid__content-items .item:hover {
  background-color: #C8A35F;
}

.servGrid__content-items .item:hover .item__img {
  background-color: #fff;
}

.servGrid__content-items .item:hover .item__img svg > path {
  fill: #393F47;
}

.about {
  background-color: #2F343A;
}

.about__content {
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about__content .left {
  z-index: 1;
}

.about__content .left .text {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  width: 445px;
  height: auto;
}

.about__content-background {
  position: absolute;
  width: 40%;
  height: 90%;
  top: -5%;
  left: calc(50% - 20%);
  background-color: #393F47;
  z-index: 0;
}

.about__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 55px;
  z-index: 1;
}

.about__content-items .item {
  height: 160px;
  width: 200px;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.25px solid #C8A35F;
  margin: 0 -0.25px -0.25px 0;
}

.about__content-items .item .num {
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2F343A;
  margin-top: 20px;
}

.about__content-items .item .info {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.about__content-items .item .more-info {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  margin-top: 15px;
}

.about__content-items .item:last-child {
  margin-bottom: 0px;
}

.map {
  margin-bottom: -3px;
}

.footer {
  background-color: #C8A35F;
}

.footer__content {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content-adress {
  font-size: 14px;
  line-height: 16px;
  color: #F2F2F2;
  opacity: 0.8;
}

.footer__content-number {
  font-size: 14px;
  line-height: 16px;
  color: #F2F2F2;
}

.footer__content-author {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2F343A;
}
/*# sourceMappingURL=style.css.map */